<div id="<%= dom_id book %>">
  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= book.author.name %>
  </p>


  <p>
    <strong>Availability:</strong>
    <% if book.availability %>
      En préstamo
    <% else %>
      Disponible
    <% end %>
  </p>


  <p>
    <strong>Synopsys:</strong>
    <%= book.synopsys %>
  </p>

</div>
