<div id="<%= dom_id book %>">
  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>Availability:</strong>
    <%= book.availability %>
  </p>

  <p>
    <strong>Synopsys:</strong>
    <%= book.synopsys %>
  </p>

</div>
